HOST = 'localhost'
USER = 'postgres'
PASSWORD = 'liset29'
DATABASE = 'test_task'
PORT = 5432
public_path = C:\\Users\\Тимур\\test2\\app\\certs\\jwt_public.pem
private_path = C:\\Users\\Тимур\\test2\\app\\certs\\jwt_private.pem
algorithm = "RS256"

access_token_expire = 15